@model  RealEstateWithMongoDB_WOldDriver.Rentals.RentalsList

@{
    ViewBag.Title = "Index Rental Listings - using older mongo driver";
}

<h2>Index Rental Listings</h2>
@using (Html.BeginForm())
{<label for="PriceLimit">Price Limit</label>
    <input type="text" name="PriceLimit" value="@Model.Filters.PriceLimit" />
<label for="MinimunRooms">Minimun Rooms</label>
    <input type="text" name="MinimunRooms" value="@Model.Filters.MinimunRooms" />
    <input type="submit" value="Search" />
}

    <p>
        @Html.ActionLink("Post Rental", "Post")
    </p>
    <table class="table">
        <tr>
            <th>
                Description
            </th>
            <th>
                Number Of Rooms
            </th>
            <th>
                Address
            </th>
            <th>
                Price
            </th>
            <th>Last Adjustment</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.Rentals)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>@item.Adjustments.Select(a => a.Describe()).LastOrDefault()</td>
                <td>
                    @Html.ActionLink("Adjust Price", "AdjustPrice", new
           {
               id = item.Id
           })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new
           {
               id = item.Id
           })
                    @* @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    *@
                </td>

            </tr>
    }

    </table>
